<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="test.css">
    <style>
        h1 {
            color: salmon;
            background-color: black;
        }
    </style>
</head>
<body>
<h1><%=title %></h1>
<input type="text" value="<%=content %>">
</body>
<html>