<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .root {
            display: flex;
            justify-content: space-around;
            display: -webkit-flex;
            -webkit-flex-direction: row;
            -webkit-justify-content: space-around;
        }
        .item {
            display: -webkit-box;
        }
    </style>
</head>
<body>

<div class="root item">
    <p class="item">first</p>
    <p class="item">second</p>
    <p class="item">third</p>
</div>

</body>
</html>